.main{
    padding-top: 5rem;
    padding-inline: 4rem;
    // border: 2px solid black;
    display: grid;
    grid-template-columns: 220px 572px 300px;
    gap: 25px;
    >*{
        // outline: 1px solid blue;
        // border-radius: 0.6rem;
        // background-color: #fff;
        // overflow: hidden;
    }
}