.network-left-wrapper{
    padding-top: 1rem;
    h3{
        padding-inline: 10px;
        font-size: 1.1rem;
        font-weight: 400;
        margin-bottom: 0.8rem;
        font-family: 'Arial Narrow', Arial, sans-serif;
        color: rgba(0,0,0,0.8);
    }
    ul{
        display: flex;
        flex-direction: column;
        a{
            padding:7px 8px;
            color: rgba(0,0,0,0.6);
            font-size: 1.1rem;
            font-weight: 500;
            text-decoration: none;
            // outline: 1px solid red;
            display: flex;
            align-items: center;
            justify-content: flex-start;
        
            svg{
                width: 15%;
            }
            &:hover{
                background-color: rgba(0,0,0,0.1);
            }
            &.active{
                background-color: rgba(0,0,0,0.1);
            }
        }
        
    }
    .linkedin-links{
        margin-top: 0.5rem;
        padding-top: 0.5rem;
        border-top: 0.4px solid lightgray;
        div{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            margin: 6px 0;
            a{
                text-decoration: none;
                color: rgba(0,0,0,0.6);
                font-size: 0.85rem;
    
                &:hover{
                    color: #0a66c2;
                    text-decoration: underline;
                }
            }
        }
    }
    .linkedin-abouts{
        margin-top: 12px;
        p{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 15px;
            font-size: 0.8rem;
            color: rgba(0,0,0,0.6);
            padding: 0 15px;
            margin-block: 8px;
            span{
                font-size: 0.9rem;
                svg{
                    color: #0a66c2;
                }
            }
        }
    }
}