.center-main{
    
    height: max-content;
    .new-post{
        border-radius: 0.6rem;
        background-color: #fff;
        overflow: hidden;
        border: 0.4px solid lightgray;
        padding-inline: 14px;
        padding-top: 12px;
        padding-bottom: 7px;
        .new-post-top{
            display: flex;
            gap: 15px;
            align-items: stretch;
            // border: 1px solid red;
            .img-top{
                
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    display: inline-block;
                    height: 46px;
                    aspect-ratio: 1/1;
                    border-radius: 50%;
                    overflow: hidden;
                }
            }
            .input-top{
                // width: calc(100% - 100px);
                flex-grow: 1;
                // border: 1px solid blue;
                .input{
                    width: 100%;
                    height: 46px;
                    border: 0.5px solid rgba(0,0,0,0.65);
                    color: rgba(0,0,0,0.6);
                    border-radius: 35px;
                    outline: none;
                    padding-inline: 1rem;
                    font-size: 1rem;
                    display: flex;
                    align-items: center;
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    transition: background-color 0.1s ease-in-out;
                    cursor: pointer;

                    &:hover{
                        background-color: rgb(230, 230, 230);
                    }
                }
            }
        }
        .new-post-bottom{
            margin-top: 4px;
            display: flex;
            justify-content: space-between;
            // padding-inline: 4px;
            button{
                height: 46px;
                width: max-content;
                padding-inline: 7px;
                display: flex;
                align-items: center;
                gap: 5px;
                border: none;
                background-color: transparent;
                cursor: pointer;

                &:hover{
                    background-color: rgb(230, 230, 230);
                    border-radius: 0.3rem;
                }
            }
        }
    }
}